.*
#*
*~
*.in
*.la
*.lo
*.o

/pkg/ABOUT-NLS
/pkg/AUTHORS
/pkg/COPYING
/pkg/ChangeLog
/pkg/Makefile
/pkg/NEWS
/pkg/aclocal.m4
/pkg/ar-lib
/pkg/autom4te.cache/
/pkg/config.guess
/pkg/config.h
/pkg/config.log
/pkg/config.rpath
/pkg/config.status
/pkg/config.sub
/pkg/configure
/pkg/depcomp
/pkg/install-sh
/pkg/ipkg-ar71xx/
/pkg/ipkg-install/
/pkg/libtool
/pkg/ltmain.sh
/pkg/missing
/pkg/src/Makefile
/pkg/stamp-h1
